<div class="contact-content mb-5 ">
    <div class="about mb-5 ">
        <p class="my-3 " style="font-size: 1.8rem; font-weight: 900;">Lộ trình đi học</p>
        <div style="max-width: 840px;">
            <span>Để bắt đầu một cách thuận lợi, bạn nên tập trung vào một lộ trình học. Ví dụ: Để đi làm với vị trí
                 "Lập trình viên Front-end" bạn nên tập trung vào lộ trình "Front-end".</span>
        </div>
    </div>
    <div class="lo-trinh d-flex">
        <div class="align-items-center d-flex align-items-center justify-content-between rounded-5 p-4" style="max-width: 500px; border:2px solid #e8e8e8">
            <div class="card-content">
                <div class="card-fontend">
                    <p style="font-size: 1rem; font-weight: 900;">Lộ trình học Font-end</p>
                </div>
                <span>Lập trình viên Front-end là người xây dựng ra giao diện websites. Trong phần này F8 sẽ chia sẻ cho bạn lộ trình để trở thành lập trình viên Front-end nhé.</span>
            </div>
            <img src="src/public/images/card.png" alt="" class="img-fluid ">
        </div>
        <div class="align-items-center d-flex align-items-center justify-content-between rounded-5 p-4 mx-4" style="max-width: 500px; border:2px solid #e8e8e8">
            <div class="card-content">
                <div class="card-fontend">
                    <p style="font-size: 1rem; font-weight: 900;">Lộ trình học Back-end</p>
                </div>
                <span>Trái với Front-end thì lập trình viên Back-end là người làm việc với dữ liệu, công việc thường nặng tính logic hơn. Chúng ta sẽ cùng tìm hiểu thêm về lộ trình học Back-end nhé.</span>
            </div>
            <img src="src/public/images/backend.png" alt="" class="img-fluid ">
        </div>
    </div>
    <div class="tham-gia d-flex justify-content-between align-items-center ">
        <div class="tham-gia-content" style="width: 420px;">
            <div class="card-content">
                <div class="card-fontend mb-3 ">
                    <p style="font-size: 1.5rem; font-weight: 900;">Tham gia cộng đồng học viên F8 trên Facebook</p>
                </div>
                <span>Hàng nghìn người khác đang học lộ trình giống như bạn. Hãy tham gia hỏi đáp, chia sẻ và hỗ trợ nhau trong quá trình học nhé.</span>
            </div>
            
        </div>
        <img src="src/public/images/banner.png" alt="" class="" style="width: 420px;">
    </div>
</div>